[2018-01-02 11:19] ryanm101 opened #3 "Add support for X-HASSIO-KEY"
We also need the X-HASSIO-KEY (https://home-assistant.io/developers/hassio/addon_communication/) from env

[2018-01-02 11:20] ryanm101 opened #4 "Add support to change hassio hostname"
Users may need to change the name of the hassio host..

[2018-01-02 11:20] ryanm101 commented on #4
https://github.com/home-assistant/hassio-cli/pull/2

[2018-01-02 22:45] ryanm101 commented on #3
https://github.com/home-assistant/hassio-cli/pull/5

[2018-01-02 23:08] ryanm101 opened #7 "Update Travis to Build and Deploy tagged releases"

[2018-01-03 09:46] #4 closed

[2018-01-03 14:27] #3 closed

[2018-01-03 15:06] ryanm101 commented on #7
https://github.com/home-assistant/hassio-cli/pull/9

[2018-01-06 11:38] #7 closed

[2018-01-06 15:42] ryanm101 opened #12 "Version 1.0.0 Release"

[2018-01-06 21:54] ryanm101 opened #19 "Move to proper logging library"
**https://github.com/dmuth/google-go-log4go**

[2018-01-07 11:45] ryanm101 opened #21 "Add support for enabling zwave"

[2018-01-07 11:45] ryanm101 opened #22 "add support for snapshots"

[2018-01-07 16:03] ryanm101 commented on #12
https://github.com/home-assistant/hassio-cli/pull/23

[2018-01-07 16:42] pvizeli opened #24 "Add option support for homeassistant/supervisor/add-ons"

[2018-01-07 19:44] ryanm101 opened #26 "Credentials failing for travis autodeploy"
[code]

[2018-01-07 21:10] #12 closed

[2018-01-07 21:31] ryanm101 opened #27 "Autobuild Binaries not statically linked"

[2018-01-08 16:16] #27 closed

[2018-01-08 16:17] pvizeli commented on #21
What you mean with this?

[2018-01-08 18:30] ryanm101 commented on #21
I read somewhere there are some instances were the device needs to be set via curl command
this is just to add it as a direct call

[2018-01-08 20:41] ryanm101 commented on #21
https://community.home-assistant.io/t/help-setup-aeotec-z-wave-usb-stick/37001/3

[2018-01-08 21:17] pvizeli commented on #21
That is gone with 0.79

[2018-01-09 07:51] SteveEdson opened #35 "Check command should return non zero exit code on failure"
`hassio homeassistant check` should return a failure exit code if the config is invalid. This will make it easy to run commands like `git pull && hassio homeassistant check && hassio homeassistant restart`.

Currently, the restart command would be called even if the config is invalid.

Alternatively, the restart command could have a flag that checks the config is valid first.

[2018-01-09 09:42] ryanm101 commented on #35
Yes, for the sake of simplicity I force you to check the "result".

Next version will tie result to return codes.

[2018-01-09 10:33] #21 closed

[2018-01-09 23:16] ryanm101 commented on #35
@SteveEdson Can you please verify it doesnt do this I just checked code and error code 10 should come back if result is not OK.

[2018-01-10 10:26] SteveEdson commented on #35
@ryanm101 has this changed recently? It wasn't doing this when I opened the ticket, but it seems to have updated itself and now uses the correct exit codes.

Thanks either way!

[2018-01-10 10:26] #35 closed

[2018-01-10 10:58] ryanm101 commented on #35
not that part. Unless you were using the previous bash script but i thought it did the right thing too

[2018-01-11 11:28] pvizeli opened #37 "recomment to send data with options call"

[2018-01-11 21:14] ryanm101 commented on #37
could you elaborate please?

[2018-01-12 08:23] pvizeli commented on #37
the `options` make no sense to call without `-o xy=xy`

[2018-01-13 09:20] ryanm101 commented on #22
https://github.com/home-assistant/hassio-cli/pull/38

[2018-01-13 10:22] #22 closed

[2018-01-13 13:02] ryanm101 commented on #24
https://github.com/home-assistant/hassio-cli/pull/40

[2018-01-18 22:27] #37 closed

[2018-01-19 19:18] #24 closed

[2018-01-23 18:10] ryanm101 commented on #26
https://github.com/home-assistant/hassio-cli/pull/44

[2018-01-24 09:41] #26 closed

[2018-01-24 11:14] ryanm101 opened #47 "Add support for host comms via socket"
**https://github.com/home-assistant/hassio/blob/dev/API.md#host-control**

[2018-01-25 13:49] pvizeli commented on #47
That is only a internal API between supervisor and host

[2018-01-25 13:49] #47 closed

[2018-02-17 12:40] ryanm101 opened #51 "hassio homeassistant check output not very readable"
[code]

Fix to make more human readable

[2018-02-17 12:46] ryanm101 opened #52 "Make pretty ouput prettier"
Where data is empty and result ok just return string 'OK' not json unless --raw-json is used

[2018-02-22 11:38] ryanm101 commented on #52
https://github.com/home-assistant/hassio-cli/pull/53

[2018-02-22 11:39] ryanm101 commented on #51
https://github.com/home-assistant/hassio-cli/pull/53

[2018-02-22 22:49] #52 closed

[2018-02-22 22:49] #51 closed

[2018-02-23 10:22] ryanm101 opened #54 "Fix shortnames to be consistant"
ha, su, ho, ad, sn, ne

[2018-02-23 12:00] ryanm101 commented on #54
https://github.com/home-assistant/hassio-cli/pull/55

[2018-02-23 12:49] #54 closed

[2018-02-23 17:50] ryanm101 opened #61 "Add Support for partial snapshots"
We currently support Full Snapshots, but due to the number of options for partials they weren't implemented in the 1st pass.

[2018-02-23 17:54] ryanm101 opened #62 "Add Support for Services"
https://github.com/home-assistant/hassio/blob/dev/API.md
GET /services/discovery
GET /services/discovery/{UUID}
POST /services/discovery
DEL /services/discovery/{UUID}

GET /services
GET /services/xy
GET /services/mqtt
POST /services/mqtt
DEL /services/mqtt

[2018-03-01 15:17] ryanm101 opened #64 "Show update progress"
https://github.com/home-assistant/hassio/issues/382

[2018-03-02 17:46] MojaveTom opened #66 ""hassio snapshots info -name xxxxxx" requires snapshot slug identifier, not snapshot name"
As documented in the hassio help for snapshots, the --name argument for the info command takes the name of a snapshot.
The REST API for hassio says that the "slug" of the snapshot is required for info.

I suggest that either the help for snapshots show that the slug identifier is desired, OR the snapshots command should accept the name of the snapshot and translate it to the slug identifier for th

[2018-03-03 11:55] pvizeli opened #68 "This repository need follow HomeAssistant style guide a bit"
I'm fine with autoformating but we now the only repo with 8 space. We need revert this back to 4 space and pin that.

[2018-03-03 11:59] pvizeli commented on #68
Minimum of style is:
- 4 space, no tabs
- 80 character lines

[2018-03-03 12:03] ryanm101 commented on #66
https://github.com/home-assistant/hassio-cli/pull/69

[2018-03-03 12:10] pvizeli commented on #68
Fix with https://github.com/home-assistant/hassio-cli/commit/4ee40a1ba12f83b800791d10ac3d881c1be7754f

[2018-03-03 12:31] ryanm101 commented on #68
I'll need to read more about this but looking at it gofmt and "go" in general dont seem to "allow" any other style. https://github.com/golang/go/issues/16256

On one hand I can see the point in being consistent across the project (and that will likely win) however the point made in the other thread is valid in that those styles are pythonic not GO.

Now if we were relying on the developers to main

[2018-03-03 12:45] ryanm101 commented on #68
https://golang.org/doc/effective_go.html#formatting

[2018-03-03 12:55] ryanm101 opened #70 "Add "Spinner" to show that cli hasnt hung when awaiting a return from API"
Some commands can take quite a while to complete, but there is currently no feedback to the user.

The suggestion now is to add a spinner when a command is pending answer from the server.

Example library that could be used:

https://github.com/briandowns/spinner

Any other suggestions or improvements in this department are, of course, welcome as well.

[2018-03-03 17:12] moorereason commented on #68
I know very little about the HA community.  It's your project.  You guys do what you want.  However, ...

Any time I see a Go package that doesn't use gofmt, I immediately assume the project is of poor quality.  I feel the same way about a Python package that doesn't follow PEP8. It's more about being a good member of the Go or Python communities than it is about whitespace.

PS: It's Go, not GO.

[2018-03-03 18:02] ryanm101 commented on #68
Tbh that's a bit like judging a book by its cover. PEP8 and gofmt are simply suggestions not law, if they were it would be built into the syntax like python does with indenting instead of brackets. I would almost agree with you if there was no consistent styling at all.

[2018-03-04 00:09] pvizeli commented on #68
This issue is while golang is not a very popular language and there are not many tools around for handling code. Like c++ there are a lot different style guides and tools they can format the code for any company.

It's funny that some kids by google want define how code should look like. That is a old war from indent to space ect.

[2018-03-04 12:59] ryanm101 commented on #68
@pvizeli After doing a bit more reading I agree we should revert the code back to the project standard.
I hadn't initially realised but gofmt uses tab, while I agree with the logic of 'letting the machine handle it' and I am a big big fan of the idea of just using a tool to do it and enforce it. The style has not been a problem todate and tabs are pure evil if your editor has anything other than 4

[2018-03-04 13:00] #68 closed

[2018-03-09 15:14] #66 closed

[2018-04-14 08:52] move[bot] opened #72 ""hassio ho hardware" command returns "Error decoding json invalid character ':' after top-level value: 404: Not Found""
*@sveip commented on Apr 14, 2018, 8:26 AM UTC:*

Typing `hassio ho hardware`
returns: `Error decoding json invalid character ':' after top-level value: 404: Not Found`

Versions:
Supervisor:
Version | 0.101
Channel | beta

Home Assistant
0.67.0b1

*This issue was moved by @pvizeli from home-assistant/hassio/issues/443.*

[2018-04-15 10:31] ryanm101 commented on #72
fixed by https://github.com/home-assistant/hassio-cli/pull/73

[2018-04-15 10:32] ryanm101 commented on #72
Need to handle 404 errors better. So will leave this open to track that

[2018-04-16 15:43] cogneato opened #75 "snapshot creation vs restore with the cli uses different names?"
using `hassio snapshots new --name "snapshotName"` creates a full snapshot, but when restoring a snapshot the name has to be the snapshot's slug name. Is this the way it is supposed to be?

[2018-04-21 21:46] poldim commented on #75
I found out when trying to restore through trial and error that it uses the `slug` instead of the `name` as indicated in the help for `hassio snapshots`:

[code]

[2018-04-22 00:49] poldim commented on #75
‘VERSION:
   1.2.1’

DK

[2018-04-23 10:41] ryanm101 commented on #75
Should be fixed in 1.3.

@frenck @pvizeli are the new ssh addons out with the updated CLI?

[2018-05-03 04:29] antonholmstedt commented on #72
When running ssh 3.5 I get the following error:

core-ssh:~# hassio hardware info
Error decoding json invalid character ':' after top-level value: 405: Method
Not Allowedcore-ssh:~#

Are they connected?

[2018-05-04 09:57] ryanm101 commented on #72
what version of hassio cli?
Not related par se just poor error handling on my part as I've assumed all responses are JSON even when they are not.

[2018-05-04 10:32] pvizeli commented on #72
Yeah, it don't work with 1.3.0 but with Curl. We also run into a name problem 🤦‍♂️

[2018-05-04 11:04] ryanm101 commented on #72
I'll take a look tonight when i get in if not tomorrow.

[2018-05-21 00:34] nalipaz commented on #72
Any update on this. Trying to setup my zwave stick on a new hassio raspberry pi and am running into this issue whenever i run the command:
[code]

[2018-05-21 20:48] ryanm101 commented on #72
sorry not yet, i've not had time lately to sit and look at anything hass related.. :( i'll try and look this week as i suspect it will be a quick fix

[2018-05-23 21:30] #75 closed

[2018-05-31 21:41] nalipaz commented on #72
I did workaround the issue by just continually trying different paths, one of them took. The issue however does persist for those whom need the output of this command.

[2018-05-31 21:47] ciotlosm commented on #72
@nalipaz I found out that using community ssh addon I had better results. Also to make troubleshooting easier, use -d in your commands:
[code]

[2018-06-01 14:54] pvizeli opened #81 "Support for homeassistant/host/supervisor options call"

[2018-06-02 07:35] ciotlosm opened #82 "Error running hassio ha logs"
Error running `hassio ha logs` during home assistant startup

[code]

Expected behaviour:
A more explicit error message that home assistant container is not yet available.

[2018-06-02 07:40] ciotlosm opened #83 "Problem using some CLI commands"
Problem using some CLI commands when homeassistant config is broken:

[code]
[code]
[code]

[2018-06-02 07:48] ciotlosm opened #84 "Add new line at end of return message from CLI"
Running CLI commands with a message being returned makes the terminal flow break a bit. It's an enhancement I know, but would be useful to have it.

Actual:
[code]

Expected:
[code]

[2018-06-02 07:58] ryanm101 commented on #83
What is your `hassio --version`
What version of the OS are you running?
What is your HA version?

[2018-06-02 07:59] ryanm101 commented on #83
I cant reproduce these errors but it is possible our systems dont match, hence the above questions

[2018-06-02 08:06] ciotlosm commented on #83
[code]
Keep in mind the errors are when running CLI command AFTER breaking your `configuration.yaml`.
I added an extra key in my `mqtt:`

[2018-06-19 22:53] ryanm101 commented on #84
this was merged https://github.com/home-assistant/hassio-cli/pull/85

[2018-06-19 22:53] #84 closed

[2018-06-24 21:36] frenck opened #87 "Cannot start a stopped/crash Home Assistant instance"
**Describe the bug**

The CLI does not allow me to bring up a Home Assistant instance that is down.

**Steps to reproduce**
1. Make a configuration error in Home Assistant
1. Call `hassio ha restart`
1. Home Asssistant will fail.

Try to get it running again, which will fail:
- `hassio ha start`
- `hassio ha restart`

Error message:

[code]

**Debug info**
1. SSH Addon type:
- [X] Community
- [X]

[2018-06-26 22:29] smnino commented on #87
franc hit the nail on the head. I'm a fairly new user and this has really frustrated me and led me to pull the power more than once as I know of no other way to get the system responding again.

I discovered this issue when trying to update from Hassio .71 to .72. The web UI simply doesn't respond so I went to the CLI to try that route in hopes if at least seeing something in the logs. Update fail

[2018-06-27 13:10] pvizeli commented on #87
Do you see any things in su logs @frenck ?

[2018-06-27 21:29] ryanm101 commented on #87
SO i'm running 0.69.1 and `hassio ha restart` works as expected.

Are you on resinOS or hassioOS?

[2018-06-27 21:46] frenck commented on #87
Generic Linux, minimal/clean installation, recently updated by the latest installer.

[2018-06-28 02:21] ndarilek opened #89 "Display build output when installing local addons"
Hey, new to hassio so I'm not sure if I'm doing things correctly. I'm trying to build my first addon for the Mycroft voice assistant. I have a Dockerfile that I've confirmed builds on another RPi, and now I'm trying to build it as a hassio addon. The files are in /addons/mycroft, and I run:

[code]

At this point my session hangs and I get no output.

Is this how I'd go about building a local addo

[2018-06-29 15:35] ryanm101 commented on #87
I've tried it on your vagrant version and it works as expected as well. (amd_64)

[2018-06-29 15:37] ryanm101 commented on #87
Anyway you can get me access to a box it fails on? or make it reproducible in vagrant?

[2018-06-29 20:02] frenck commented on #87
I'm in the middle of re-installing everything (getting in a new 500GB SDD 🎉 ), I'll report back later.

[2018-06-29 20:18] ryanm101 commented on #87
nice.. :) Thanks.

[2018-07-01 20:32] pdecat commented on #87
Same issue here with update and restart commands:

[code]

The corresponding error in the supervisor logs is:

[code]

[2018-07-02 05:14] frenck commented on #87
Hmmm that might be part of the issue, which might not be CLI related.

Restart HA via Hass.io, the API will probably wait for a sign of life?

[2018-07-02 05:45] pvizeli commented on #87
A problem could be, that you can send a command to home-assistant, if there is already a command in progress. That would be stay in log.

[2018-07-02 07:07] pdecat commented on #87
Shouldn't the CLI handle this properly and display a message instead of panicking?

[2018-07-02 22:21] ryanm101 commented on #87
@pdecat ideally yes, but I can only handle errors i have encountered. :)

@pvizeli Usually the CLI hangs until the command returns complete, I could maybe simulate by opening two console sessions, but i would need a long running command.

Whats weird is I cannot reproduce any of the issues reported since 1.3.1.

I've an RPI running an old version of resinOS + hassio and I'm trying to reproduce on

[2018-07-02 22:22] ryanm101 commented on #87
So if anyone can get me an env that has the issue I'd be happy to solve the problem.

[2018-07-02 22:29] ryanm101 commented on #82
What steps to reproduce? was HA restarting when you tried the logs or doing any update?

[2018-07-02 22:31] ryanm101 commented on #83
I added a random key to my config:
[code]

[2018-07-02 22:33] ryanm101 commented on #83
and when i added the ':'

[code]

[2018-07-03 06:07] pdecat commented on #87
How I ended up in this situation is upgrading from 0.72.1 to the broken [0.73.0b0](https://github.com/home-assistant/home-assistant/issues/15229) from hassio UI.

The watchdog will notice it is broken then stop and start it in loop.
During that time, the above mentioned errors occur:

[code]

[2018-07-03 17:50] frenck commented on #89
Try to build you add-on locally first, using plain Docker.
Did you try that already?

[2018-07-03 17:56] ndarilek commented on #89
Yeah, it works fine.

I think what may be happening here, or at least what's causing the
failure, is that the Pi is running too many addons to perform the build.
When I successfully build, it's on a plain Raspbian image that isn't
running anything. But it'd be nice if the installation actually logged
something, because as of now I'm just guessing as to what may be going
wrong.

[2018-07-03 18:03] frenck commented on #89
I do agree, but that is not a CLI problem.
The CLI is not fed with logs.
Going to move the issue into the `hassio` repository in that case.

[2018-07-03 18:03] frenck commented on #89
/move home-assistant/hassio

[2018-07-03 18:03] frenck commented on #89
Ok, so the move bot is not installed here 👎
@ryanm101 ?

[2018-07-04 05:06] move[bot] opened #90 "Rename the hostname in HASSOS?"
*@stenki-eu commented on Jul 3, 2018, 7:24 PM UTC:*

Is it possible to rename the hostname from HASSIO to HASSOS? It would avoid an unpleasantness with duplicate names in the network as long as people like me still use both systems at the same time.

*This issue was moved by [pvizeli](https://github.com/pvizeli) from [home-assistant/hassos#77](https://github.com/home-assistant/hassos/issues/77).*

[2018-07-05 07:18] ryanm101 commented on #89
@frenck it is showing as installed, but "configure" is greyed out. @pvizeli?

[2018-07-05 10:15] frenck commented on #89
@ryanm101 #91

[2018-07-05 15:53] ryanm101 commented on #89
@frenck THanks

[2018-07-05 16:41] frenck commented on #89
/move home-assistant/hassio

[2018-07-05 16:41] #89 closed

[2018-07-09 18:43] papasax commented on #72
Looks like the url http://hassio/network/info does not work. It should be configured somewhere.

➜  ~ hassio -d ne info
DEBUG [CmdNetwork]: action->'info', endpoint='info', serverOverride->'', GET->'true', options->'', rawjson->'false', filter->''
DEBUG [ExecCommand]: basepath->'network', endpoint->'info', serverOverride->'', get->'true', Options->'', Filter->'', RawJSON->'false'
DEBUG [GenerateUR

[2018-07-10 12:34] ryanm101 commented on #72
https://github.com/home-assistant/hassio/blob/dev/API.md lists all valid endpoints.

Looks like i need to remove network as it is no longer an endpoint.  @pvizeli can you please confirm?

[2018-07-10 12:37] ryanm101 opened #92 "API change BOT alert"
https://github.com/home-assistant/hassio/blob/dev/API.md get notified when my commands do not match this doc

[2018-07-16 21:39] jptrsn opened #94 "Hassio CLI network returns 404"
**Describe the bug**
hassio network info command returns a 404: Not Found error when trying to run the command `hassio ne info -j`
Issue affects all attempts to use the hassio network cli endpoint.

**Debug info**
1. SSH Addon type:
- [ ] Community
- [x] Core
- [ ] Custom

2. Output of `hassio --version`
`hassio version 1.3.1`

3. Version of hassio / homeassistant
`0.73.1`

4. Output from executin

[2018-08-05 22:52] move[bot] opened #96 "hassio ne info and ho update --> 404"
*@dclobato commented on Aug 4, 2018, 11:44 PM UTC:*

Running hassio 1.3.1 with hassOS 1.9.

[code]

*This issue was moved by [pvizeli](https://github.com/pvizeli) from [home-assistant/hassio#623](https://github.com/home-assistant/hassio/issues/623).*

[2018-08-15 11:09] msanchezt commented on #87
Same issue here.

[2018-08-15 16:00] msanchezt opened #98 "ERROR: panic: interface conversion: interface is nil, not string"
**Describe the bug**
After running "hassio ha restart" I got the error:

[code]

Tried restarting the RPi3, disconnecting some of the components.
Also tried restoring previous version of the configuration files (had a rsync backup), same result.
Restoring snapshot doesn't solve the issue neither.

**Debug info**
1. SSH Addon type:
- [ ] Community
- [X] Core
- [ ] Custom

2. Output of `hassio --ver

[2018-08-18 15:13] matt1 commented on #87
New user. Same issue here. Reproduced twice trying to update configuration.yaml which requires restarts.  You make some changes, restart via the UI and..... then it never restarts.

Logging in via SSH and using hassio cli to try and manually restart does not help.

The panic is due a bad type assertion.  Using the "old" curl approach gives me this:

[code]

Null message for the restart error - pro

[2018-08-18 17:32] pvizeli commented on #87
1) We should fix that on home assistant, a integration should be not block the startup of home assistant
2) After 10min he stop the startup and you should be able to interact again with homeassistant
3) A kill function would be not bad, like http://hassio/homeassistant/kill

[2018-08-19 09:53] matt1 commented on #87
Ok so I left it overnight.  `hassio ha start` leads to same golang panic, but there is no corresponding `ERROR (MainThread) [hassio.utils] Can't excute restart while a task is in progress` error in `hassio su logs` this time.

If I try the curl direct approach, I do not get an error, but it did not return in a reasonable amount of time either (over 10 mins).  Web UI still not available.

If I go a

[2018-08-30 17:51] move[bot] opened #100 "69.1 to 70 update hassio won't boot"
*@engle2192 commented on May 31, 2018, 3:05 PM UTC:*

After updating from 69.1 to 70 hassio won't start this is what the logs are showing? Any ideas before I clean install?

[code]

*This issue was moved by [frenck](https://github.com/frenck) from [home-assistant/hassio#491](https://github.com/home-assistant/hassio/issues/491).*

[2018-09-08 07:17] scop opened #101 "New release?"
Would be great to have a new release out with the bash completion included, to make it possible to cleanly do an update to the ssh addon and include the completion in it :)

[2018-09-08 07:41] pvizeli commented on #101
@scop that is actual not maintained :(

Do you want maintain this project?

[2018-09-08 17:12] scop commented on #101
Ah, disappointing to hear that. And unfortunately I don't think I have time to help out too much here either in the long term, sorry.

[2018-09-09 12:54] move[bot] opened #102 "JSON error running command hassio network info"
*[move[bot]](https://github.com/apps/move) commented on Jul 24, 2018, 8:45 PM UTC:*

_[shortbloke](https://github.com/shortbloke) commented on Jul 21, 2018, 8:42 PM UTC:_

**Home Assistant release with the issue:**

0.73.2

**Last working Home Assistant release (if known):**
Not known

**Operating environment (Hass.io/Docker/Windows/etc.):**

Raspberry Pi 3 B+
hass.io 115
Resin OS 2.3.0+rev1
Conne

[2018-09-22 12:47] frenck commented on #101
We are looking into getting some small updates en fixes right now.

[2018-09-22 12:47] #101 closed

[2018-09-22 12:49] frenck commented on #64
While this is cool to implement in this tools, it indeed depends on a new feature in the remote branch. I'm closing this issue until the upstream project adds it.

[2018-09-22 12:49] #64 closed

[2018-09-22 15:59] frenck commented on #102
Closing, since it is a duplicate

[2018-09-22 15:59] #102 closed

[2018-09-22 15:59] frenck commented on #82
This problem appears when HA is not running (and therefore, no data is returned).

[2018-09-22 16:01] frenck commented on #100
This is not an Hassio CLI error, but an error from the HA logs.

@engle2192 Has this issue been resolved already?

[2018-09-22 16:03] frenck commented on #19
Logrus would be a better option for this:

https://github.com/sirupsen/logrus

[2018-09-22 16:10] #92 closed

[2018-09-22 16:29] frenck commented on #62
Maybe later, there is no direct need for it right now.

[2018-09-22 16:29] #62 closed

[2018-09-22 16:44] frenck commented on #96
Both endpoints are no longer in use and removed from the API.
Removed it from the CLI now as well and is now pending release.

[2018-09-22 16:44] #96 closed

[2018-09-22 16:45] frenck commented on #94
The network endpoint is no longer in use and removed from the API.
Removed it from the CLI now as well and is now pending release.

[2018-09-22 16:45] #94 closed

[2018-09-22 16:45] frenck commented on #72
The network endpoint no longer exists and is removed from the CLI.
Removed it from the CLI now as well and is now pending release.

[2018-09-22 16:45] #72 closed

[2018-09-22 16:46] frenck commented on #81
This has been added to the `dev` branch.
Will be part of the next release.

[2018-09-22 16:46] #81 closed

[2018-09-22 17:52] frenck commented on #98
This error has been fixed in version 1.4.0.

[2018-09-22 17:52] #98 closed

[2018-09-22 17:52] frenck commented on #87
This error has been fixed in version 1.4.0.

[2018-09-22 17:52] #87 closed

[2018-09-22 17:53] frenck commented on #83
I've tested it and could not reproduce it as well.
v1.4.0 has been released, which might fix related error.

For now, I'm closing this issue, to prevent chasing ghosts.

[2018-09-22 17:53] #83 closed

[2018-09-22 17:53] #100 closed

[2018-09-30 19:39] frenck opened #109 "Rewrite CLI to use Cobra"
# Problem/Motivation

Cobra is both a library for creating powerful modern CLI applications as well as a program to generate applications and command files.

The CLI needs to be rewritten to use Cobra instead of the current solution.

While doing this, it would be nice to review/reconsider the current directory setup. For example, a code structure where each command has its own file.

E.g.: `hassi

[2018-09-30 19:42] frenck commented on #90
The network API is no longer available and has been removed in 1.4.0.
Closing the issue for now.

[2018-09-30 19:42] #90 closed

[2018-09-30 19:42] frenck commented on #82
We need to be able to handle this correctly.

[2018-09-30 19:45] frenck commented on #61
This should probably be done after #109.

[2018-09-30 19:46] frenck commented on #19
Closing this one in favor of creating a more extensive one.

[2018-09-30 19:46] #19 closed

[2018-09-30 19:48] frenck opened #110 "Add output handling using Logrus"
The CLI now mostly output to the standard output using simple print calls.

Nevertheless, the use of a proper logging library would, of course, be the preferred solution.

One of the most used libraries seems to be Logrus:

https://github.com/sirupsen/logrus

This seems to be a proper solution, nevertheless, other suggestions are welcome.

[2018-09-30 19:51] frenck opened #111 "Rewrite Hassio API handling/library"
The current handling of the communication with the Hassio API is not a very robust one.
We have "fixed" a couple of things, to prevent stuff from breaking (even worse, we just hide errors on some places).

A proper library / API handler would be really great. We have looked a bit at Resty:

https://github.com/go-resty/resty

This is mainly because it is well documented, easy to use and understand.

[2018-09-30 21:31] rafa-acioly commented on #110
can i take this one @frenck ?

[2018-09-30 22:10] rafa-acioly commented on #110
i've sended you a PR https://github.com/home-assistant/hassio-cli/pull/112

[2018-10-01 00:42] bbriggs commented on #109
I'll take this one.

[2018-10-01 02:50] rubiagatra commented on #111
I am interested in this, actually, I really don't know about a good library / API handler, I think resty really good for the job. Is there something wrong with the standard library? @frenck ?

[2018-10-01 07:45] mjrider commented on #110
I added a PR as well, i was already working on this before the issue was opened.
major differences is that i use the WithFields option of logrus, instead of fprintf and i removed the debug flag from the codebase and use the loglevel for selecting which messages should be shown

[2018-10-01 08:18] mjrider opened #114 "Build failures due to golang 1.6 specific issue"
**Describe the bug**
A clear and concise description of what the bug is.
Currently the travis builds fail on golang 1.6
This is related to: https://github.com/golang/go/issues/26576

**Expected behavior**
Travis builds are successful, so PR's are not failing on a deprecated golang version

**Additional context**
The only fix seems to be to drop golang 1.6

[2018-10-01 15:33] quamilek commented on #70
I will take this issue.

[2018-10-02 00:02] zpeters commented on #110
help needed with this, or are we good?

[2018-10-05 21:08] kitesurfsteve commented on #72
Hi, is there a workaround to allow updating?

I'm a relatively new user of Hass.io. I restarted my Raspberry pi for first time in many months and the web interface won't load. When I connected via SSL, `hassio homeassistant update` throws `Error decoding json invalid character ':' after top-level value: 403: Forbidden`.

Before I found this thread, I reverted to a previous snapshot. Listing the sn

[2018-10-06 07:59] #114 closed

[2018-10-06 08:13] balloob commented on #109
Cool! If you want intermediary feedback, open a PR early.

[2018-10-06 08:13] balloob commented on #110
We're good.

[2018-10-06 08:13] #110 closed

[2018-10-06 08:44] gillchristian commented on #111
@rubiagatra this one might simplify things a bit https://github.com/asmcos/requests

[2018-10-07 16:38] bbriggs commented on #109
Sure. I'll send an incremental PR in a day or so.

[2018-10-07 16:55] frenck commented on #109
(wrong button)

[2018-11-04 04:07] chriscla commented on #109
@bbriggs  are you still working on this? I'm an extreme go n00b but would be interested in trying this.

[2018-11-04 12:19] balloob commented on #109
@chriscla you can go for it.

[2018-11-06 19:21] mjrider commented on #109
@chriscla because multiple issues (#109, #111, and other developement) would require extensive rewrites, @frenck and I decided today to create a branch next, which based on current dev + #117
Hoping that collaborators can team up with in writing version 2. I hope this doesn't set you back to far in your development

[2018-11-06 22:01] chriscla commented on #109
HI @mjrider  -- I probably bit off a bit more than I can chew and was starting from the beginning.  I would love to contribute with others to the work on doing this.

[2018-11-09 01:17] bbriggs commented on #109
Hey guys, yeah I'm still working on it. Much apologies, I had an unexpected three weeks of travle.

@chriscla, I'd be happy to pair with you on this if you want. I'm going to rebase some of those other PRs back in and resume work.

[2018-12-17 16:35] MattNolf commented on #109
I'd like to get involved with this if it's still open?

[2018-12-18 15:09] mjrider commented on #109
yeah ofcourse
on my short todo list:

- [ ] Fix that HASSIO_TOKEN as env key is also useable
- [ ] REadded rawjson as root option, and use it in the display function for json data

[2018-12-18 15:41] mjrider commented on #61
i think that i already implemented this in in #109 , or i'm misunderstanding the issue

[2018-12-23 10:35] mjrider commented on #109
if ppl still want to help, i think  all the changes which needed to be done are now finished, and it needs some testers.
The binaries are downloadable here: https://github.com/home-assistant/hassio-cli/releases/tag/2.0.0-rc2

[2019-01-02 13:35] mjrider commented on #111
Fixed in #127
merged in dev in commit fca215d405f3ab342b065d3c23ead9a652c7a466

[2019-01-02 13:35] #111 closed

[2019-01-02 13:36] mjrider commented on #109
Fixed in #127
merged in dev in commit fca215d405f3ab342b065d3c23ead9a652c7a466

[2019-01-02 13:36] #109 closed

[2019-01-02 13:36] mjrider commented on #82
Fixed in #127
merged in dev in commit fca215d405f3ab342b065d3c23ead9a652c7a466

[2019-01-02 13:36] #82 closed

[2019-01-02 13:36] mjrider commented on #61
Fixed in #127
merged in dev in commit fca215d405f3ab342b065d3c23ead9a652c7a466

[2019-01-02 13:36] #61 closed

[2019-01-03 10:53] pvizeli opened #130 "homeassistant check"
Version 2.0.0 doesn't exit unlike 0 if the config check fails. We have some scripts on the core add-ons, they need that for abort future interaction.

Without this handling, we can't add the new CLI to core add-ons :(

[2019-01-05 19:33] mjrider commented on #130
fixed in release 2.0.1

[2019-01-05 19:33] #130 closed

[2019-01-05 19:37] mjrider opened #138 "Documentation in readme.md not up to date"
The readme.md was not updated with the v2 rewrite.
This needs to be fixed,

[2019-01-05 20:14] prsolucoes opened #139 "Why go instead of python?"
Hi

Only to know. Why use go for cli instead of python?

Any specific reason?

Thanks.

[2019-01-05 20:46] pvizeli commented on #139
Python makes every image 30-50mb bigger for a simple CLI. GO need only ~6mb

[2019-01-06 11:34] scop commented on #138
I'm wondering in particular whether the tool is supposed to install as the name `hassio` like before, or `hassio-cli`. README.md refers to `hassio`, but for example the bash completion emitted with the `completion` option results in a completion file that only installs the completion for `hassio-cli`, no matter what the name of the command that is used to output the completion is.

[2019-01-06 19:34] mjrider commented on #138
@scop you have a good point, and you should open an issue for that

[2019-01-07 19:49] scop opened #140 "Completion and usage message output should use name of invoked command, not "hassio-cli""
As discussed in #138, when one issues the completion command to output bash completion, the output is always applied to the command name `hassio-cli`. This is a problem if the command is installed under a different name, e.g. `hassio`.

The same problem seems to be in a lot of other places as well, for example usage messages say `hassio-cli` no matter what the executable's filename is.

The fix wo

[2019-01-07 21:12] pvizeli opened #141 "Missing Commands"
- [x] HassOS update command
- [x] HassOS config import command

[2019-01-10 08:32] cogneato opened #142 "hassio ha update with version option fails"
A version can be specified for a downgrade using `hassio ha up version=0.85.0b0` successfully.

When updating to a new release (.0b0 to .0b1 for example) the command returns "ok" and the update does not occur, with supervisor logs returning `WARNING (MainThread) [hassio.homeassistant] Version 0.85.0b0 is already installed`

[2019-01-10 18:42] cogneato commented on #142
Now since updating to release of .85.0 the command does not work to downgrade to .85.0b0 and returns the same warning `Version 0.85.0 is already installed`

[2019-01-11 20:12] mjrider commented on #142
Hello @cogneato
i just tried the following scenario
- update to 0.85.0b0 from 0.84.x
- update to 0.85.0
- downgrade to 0.85.0b0

and it works like expected.

The logic how to handle the update is in the supervisor (iirc) the cli just send the requested version to the supervisor without any logic
requesting to update to version foobar  also works, except the supervisor has an opinion about the exis

[2019-01-12 15:12] cogneato commented on #142
Hey @mjrider
Are you using the same command as I used above? I've tried both the ssh server and ssh & web terminal addons and get the same 'ok' result immediately no matter what version I enter now.

[2019-01-12 16:04] cogneato commented on #142
My fault. I thought I had used `--version=` but switched at some point to `version=` and that's been the problem the whole time. Sorry.

[2019-01-12 16:04] #142 closed

[2019-01-15 11:16] #140 closed

[2019-01-16 12:36] #138 closed

[2019-03-22 19:31] rccoleman opened #148 "how to use --api-token?"
I'm trying to automate command line access to the hassio CLI and I can't figure out how to use the --api-token argument.  I get an error without it saying that I need to specify a token, but if I create a long-life-access-token in the UI and use it, I get a "403 Forbidden" message in hassio-cli and this in the system log:

`19-03-22 19:05:09 ERROR (MainThread) [hassio.api.security] Invalid token f

[2019-03-23 19:21] rccoleman commented on #148
Solved my own problem in several ways, documented here: https://community.home-assistant.io/t/using-long-lived-access-tokens-to-execute-hassio-commands-over-ssh/106878/2

[2019-03-28 11:35] frenck commented on #148
@rccoleman That seems incorrect.
 The token needed is an Hass.io API token, not a Home Assistant token.

You can use the remote API developers add-on to get an endpoint & token: <https://github.com/home-assistant/hassio-addons-development>

[2019-03-28 11:35] #148 closed

[2019-03-28 11:35] frenck commented on #70
Closing this issue, since, well, commands are pretty fast now 👍

[2019-03-28 11:35] #70 closed

[2019-03-28 11:35] frenck commented on #141
Added the import command in #151.

[2019-03-28 11:35] #141 closed

[2019-03-28 15:05] rccoleman commented on #148
Thanks for the link.  Which part do you think is incorrect?  I'm using the last one on a regular basis now.

[2019-03-30 07:34] frenck commented on #148
@rccoleman

![image](https://user-images.githubusercontent.com/195327/55273096-9d71e480-52c6-11e9-9f51-3c2480f60773.png)

While you can use an HA API token for HA related calls, this will not work on ALL the other calls.

[2019-04-01 21:24] promiseofcake opened #156 "Config File Schema / Example"
Where is the documentation for the config file? Without it it's difficult to determine what is necessary to execute this tool.

[2019-04-02 07:20] frenck commented on #156
The config file option is there for a developers perspective, actually not used in any production system.

The config file can be a JSON file containing the same keys as available on the command line arguments, next use the `--config` flag to specify the file.

Nevertheless, this tool is available via the HassOS CLI (developers debug mode), the Core SSH add-on, Community SSH & Web Terminal add-on,

[2019-04-02 17:37] mjrider commented on #156
further....
the config file takes key/value pairs, the same as the cli accept on the command line in yaml format
my development config file: `~/.homeassistant.yaml`
[code]

[2019-04-02 21:07] promiseofcake commented on #156
Interesting, I am using Hass.io on top of Raspbian -- is there somewhere specific I should be pointing the config for this to just work? Also to manage a local instance off-the node, it seems useful to be able to deploy this tool on my daily laptop for instance and configure it to point to my remote instance.

Thank you, I was able to surmise that in looking through the code, I was thinking for a

[2019-04-03 20:52] frenck commented on #156
@promiseofcake The CLI meant to be run inside an add-on and was not designed for remote use.

Add-ons that have this CLI: the Core SSH add-on, Community SSH & Web Terminal add-on, Community Visual Studio Code add-on and Community IDE add-on.

[2019-04-03 23:11] promiseofcake commented on #156
Thanks for the note.

[2019-04-03 23:11] #156 closed

[2019-04-13 10:33] move[bot] opened #158 "Feature Request: hassio (ho | su | ha ) update status"
*@jeubanks commented on Feb 26, 2018, 2:53 PM UTC:*

Can a progress/status be added to the CLI when performing updates?

*This issue was moved by [frenck](https://github.com/frenck) from [home-assistant/hassio#382](https://github.com/home-assistant/hassio/issues/382).*

[2019-04-18 08:41] deece opened #159 "Feature Request: Allow addons to be downgraded"
Occasionally, an addon may fail in a disastrous way (eg. the current version of Node Red does not launch on aarch64). Rather than leaving users stuck with a non-functional house, or having to restore from a backup, we should provide a mechanism to reinstall an older version of an addon.

[2019-04-18 12:45] pvizeli commented on #159
That is currently not possible. For this reason, there are snapshots of the system they can restore states.

[2019-04-18 12:45] #159 closed

[2019-05-03 01:01] strangiato opened #160 "Command Not Found In git_pull Addon"
**Describe the bug**
The [git_pull addon](https://github.com/home-assistant/hassio-addons/tree/master/git_pull) is experiencing an issue resulting in the addon to throw the following error:

`
/usr/bin/hassio: line 1: Not: command not found [Error] Configuration updated but it does not pass the config check. Do not restart until this is fixed!
`

It appears the issue is possibly with a build of th

[2019-08-15 11:36] frenck commented on #160
This has already been fixed in the add-on.

[2019-08-15 11:36] #160 closed

[2019-08-28 21:37] MarcHagen opened #179 "Spinner eats lines when using SSH"
**Describe the bug**
On running `hassio ha check` the spinner causes the Task line to eat (backspace) all characters on the line that it is on, then it moves to the line above and continues until the task line with Spinner are sitting in the top left corner. There is happily spins until the task is done.

**Debug info**
1. SSH Addon type:
- [ ] Community
- [x] Core (Version: 6.3)
- [ ] Custom

2.

[2019-08-30 15:53] pvizeli commented on #179
Yeah, I have the same issue but only with putty

[2019-09-02 10:08] frenck commented on #179
So weird, I've tested this thing with so many clients (even webbased ones), however, not Putty (since well, I don't have windows). Will try to see what is causes, just weird.

[2019-09-04 15:52] redlegoman commented on #179
I just left a comment on the PR, probably the wrong place, so here's the gif of what happens in Putty. I tried TERM=xterm and TERM=linux, both with the same results
![gif1](https://user-images.githubusercontent.com/1895294/64270940-51d9fb80-cf34-11e9-8d35-957893bee7ff.gif)

[2019-12-13 08:21] #179 closed

[2019-12-25 04:35] mgriffin13 opened #186 "Feature Request: hassio [ha | supervisor] logs --follow"
It would be really nice if the hassio-cli tool supported following logs (basically a tail -f equivalent), so that you can have real-time updates when you're trying to debug things. This is a common feature in most log analysis tools.

I would expect something like this to work

[code]

[2019-12-25 14:13] frenck commented on #186
The Hass.io CLI cannot add this, since there is no hook for this available on the end of the Hass.io API.

Nevertheless, thank you for your suggestion.

[2019-12-25 14:13] #186 closed

[2020-01-08 19:33] cogneato opened #188 "Feature Request: hassio dns reset"
Or a similar command to reset dns settings to default?

[2020-01-08 19:36] cogneato opened #189 "Feature Request: hassio ha password reset"
A command to reset onboarding which would require deleting the files in .storage as described at
<https://www.home-assistant.io/docs/authentication/#lost-owner-password>

[2020-01-08 20:11] frenck commented on #189
The hass.io CLI is a client of the Hass.io API, it does not have any capabilities outside of that scope.

Not sure if this request fits here or should be part of this CLI.

[2020-01-08 20:12] frenck commented on #188
That is actually a pretty good one, we should add it to Hass.io itself first, since this CLI is an interface to the Hass.io supervisor.

[2020-01-09 16:16] pvizeli commented on #188
https://github.com/home-assistant/hassio-supervisor/pull/1428

[2020-01-09 16:17] #158 closed

[2020-01-09 17:00] mjrider commented on #189
the title and description are to different things a password reset and a reset of the whole of homeassistant

[2020-01-09 17:28] frenck commented on #189
@mjrider, sure, but in both cases my first response still applies.

[2020-01-13 15:26] #188 closed

[2020-01-30 11:16] dependabot-preview[bot] opened #193 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/home-assistant/update-logs/21996414).

[2020-01-31 11:15] #193 closed

[2020-02-07 13:11] #189 closed

[2020-02-29 15:43] svh1985 opened #204 "Improve HA password reset not available message"
**Describe the bug**
When resetting a password I get `ERRO[0000] Unexpected server response`:
[code]

The supervisor system log show’s:
[code]

**Debug info**
1. SSH Addon type:
https://github.com/hassio-addons/addon-ssh

2. Output of `ha --version`
[code]

3. Version of Home Assistant Core & the Home Assistant Supervisor
0.106.2 / 201

4. Output from executing the command with debug info.
[code]

[2020-03-01 19:09] frenck commented on #204
This is not a bug, but expected and documented behavior

![image](https://user-images.githubusercontent.com/195327/75632044-7f101980-5bf8-11ea-87e6-30dc6b410436.png)

This command is not available everywhere.

[2020-03-01 19:32] svh1985 commented on #204
Okay clear, thanks! But wouldn’t it be possible to add that piece of info to the output? In my case it would be clear then.

I just copy pasted the command from wiki and therefore never thought of using the —help command because I already got the info from the wiki.

[2020-03-02 07:56] frenck commented on #204
Let's re-open this and improve on that in that case 😉

[2020-03-03 21:44] #204 closed

[2020-03-05 02:16] rlpowell opened #208 "Installation instructions?"
The README says to install with

    go get -d github.com/home-assistant/cli

, but that doesn't seem to get me anything executable, just a bunch of .go files, and it *definitely* doesn't get me anything called "ha".

If I run it without the -d (and if I have the right compiler and libraries installed), I get /root/go/bin/cli

Am I holding it wrong?

[2020-03-05 07:57] frenck commented on #208
That should actually not be used and is still there from the "older" days.

I'll adjust the documentation today.

You can grab the pre-build binaries from here: <https://github.com/home-assistant/cli/releases>

[2020-03-05 09:38] frenck commented on #208
I've adjusted the README.

[2020-03-05 09:38] #208 closed

[2020-03-24 13:37] fabaff opened #213 "Issue template"
**Describe the bug**
"2. Output of `ha --version`" is not always available, e.g., after a build with `$ go build -o "ha"`.

[2020-03-24 13:41] fabaff opened #214 "Error message"
**Describe the bug**
If the token is invalid the user gets:

[code]

2. Output of `ha --version`
see #213

**Expected behavior**
For me, the error message should tell the user what's wrong (if possible) and not be generic.

[2020-03-24 13:50] fabaff opened #215 "Build issue"
**Describe the bug**

The RPM build process fails when I try to create a RPM package.

[code]

Also, is not working for 4.0.0 and 3.1.2. First though was that the issue is related to the renaming. The files is present in the BUILD directory thus something other is standing in the way.

[2020-03-24 14:38] frenck commented on #213
Feel free to open up an PR to address the issue.

[2020-03-24 14:38] frenck commented on #214
This information is not provided from upstream.

[2020-03-24 14:39] frenck commented on #215
Sorry, we don't provide, maintain, build or support RPM packages.

[2020-03-24 15:50] fabaff commented on #215
But I do. Thus would be nice to sort this out.

[2020-03-24 16:06] frenck commented on #215
This tool is distributed inside an ecosystem that does not use or rely on a system that uses RPM of any kind.

It is not in the project interest of providing an RPM. So I'm sorry to hear you have trouble with packing it, but we should also not spent time on it from a project perspective.

If you can solve it, a PR would be welcome, sure, but it is not a focus.

[2020-03-24 16:14] pvizeli commented on #215
I agree, we have binary and you can use the binary without need compile it self. This binary are created by CI. Also this tools is internal and we provide soon also for generic installer a container like on OS, which is the way how we support this official.

However, if you find a bug and provide a fix, I see also no issue to merge that PR.

[2020-03-25 11:23] fabaff commented on #215
Re-opened as the build issue is still present. Please link the PR for the fix to close this. Thanks.

IMHO, taking about "an ecosystem" is simply short-sighted and really not what HA is about.

There are another ecosystems beside the former Hass.io ecosystem and those ecosystems are using RPM, deb and apk. Every others systems in most environments are not part of the HA ecosystem thus our own ecos

[2020-03-25 11:24] fabaff commented on #213
Actually, `ha --version` is not available at all.

![Screenshot-20200325075320-890x676](https://user-images.githubusercontent.com/116184/77509880-d60eb480-6e6d-11ea-8caa-7d785da4cd06.png)

[2020-03-25 11:24] fabaff commented on #214
Not according to the [README](https://github.com/home-assistant/cli/blob/master/README.md#install). There it's a selling point...

[2020-03-25 11:57] frenck commented on #214
Let's adjust the README to make that clear in that case.

[2020-03-25 13:13] #213 closed

[2020-03-26 16:07] mdegat01 opened #217 "ha addons info command from example does not work"
**Describe the bug**

Trying to get the CLI to list me information on all addons and it is requiring I provide a slug for a specific addon. When you use `ha addons -h` it lists an example of `ha addons info` as a way to do this but when you actually try to use that command you get an error.  See below:
![Screen Shot 2020-03-26 at 11 49 23 AM](https://user-images.githubusercontent.com/2037026/77667

[2020-03-26 19:50] frenck commented on #217
`ha addons` shows the list you are looking for.

`ha addons info` should return the information on the current add-on where this command is executed (defaulting to `self`), this is not working indeed and a bug that needs to be addressed.

I'm not sure where you found `-d`, that is not a valid global flag, which is not listed either. `--log-level debug` however, is a valid global flag.

[2020-03-26 20:04] mdegat01 commented on #217
Ah ok thanks. For the -d thing, When you make a new issue in this repo the issue template tells you to do that.  Or at least that's how I read it, it seemed like the instructions were to run your command with -d so I was just trying to follow them.  Here is the new issue template for reference:

[code]

[2020-03-26 21:09] frenck commented on #217
Aah, that is a leftover of the previous (Bash based version). I'll update that issue template as well (man, we keep finding history 😓)

[2020-03-29 13:16] #217 closed

[2020-04-13 18:11] fabaff commented on #215
The latest release of [`hass-cli`](https://github.com/home-assistant/home-assistant-cli) now support Core and standard installations which means that there is no longer a need to build this or to package this.

[2020-04-13 18:11] #215 closed

[2020-08-03 05:14] narendra8989 opened #231 "Link submission"
Sometimes We are unable to place the links  in the description suppose iam a python programmer when iam submitting a gist i just want to give a reference link related **[python](https://nareshit.com/python-online-training/)** but its not possible.

[2020-09-05 09:42] rogerjak opened #237 ""ha os update" should prompt for confirmation"
Running HassOS 5.0 beta I typed in "ha os update" in my SSH session.
Then it started to upgrade, no confirmation, no info on to what version and no progress.
Since my installation wouldn't boot after this upgrade, I suspect it downgraded to the latest 4.x version.
That doesn't support RPi4 SSD boot, so I had to clone a new image and restore from snapshot.
The command "ha os update" should at least

[2020-09-05 11:09] frenck commented on #237
`ha os update` will update to any release that matches the current channel on is on. The update can be an upgrade or downgrade, depending on the matching channel.

The CLI is an admin tool, that does not provide this level of security. If you are in personal need for that level of insurance, please use the UI.

[2020-09-05 11:13] rogerjak commented on #237
Personally I don't care, I just think it's good to avoid people from making mistakes.
Sure, it's an admin tool, but so is "apt-get upgrade" and it still prompts me if I want to do the update.

[2020-09-08 16:43] rkennedy opened #238 ""ha network update" ignores interface name"
I've been trying to update network settings with `ha network update`, but the command always fails. For example:

[code]

The `eth0` interface _does_ exist:

[code]

I think I've tracked it down to network_update.go:

https://github.com/home-assistant/cli/blob/9a34a39f921f38e3049139cbcec1e85010f7b485/cmd/network_update.go#L27-L55

It sets `command` to the URL template, and I suppose `request.SetPa

[2020-09-09 18:33] #238 closed

[2020-09-09 20:38] rkennedy commented on #238
Thanks for such a quick resolution!

Next, how do I _consume_ this fix? That is, what update should I watch for in the Supervisor dashboard?

[2020-10-03 19:55] chaptergy commented on #159
I think that is why it is a feature request. Unfortunately in situations where a downgrade would be required snapshots are not often available. Especially now with the "Auto update" feature, which probably wasn't implemented back when this issue was openend.

I would love to see this issue reopened.

[2020-10-25 13:36] anarchking opened #252 "cli root login .114.3 not loading"
Everytime I login. to cli with username root
It starts to load everything but stops at
(services.d) done
Checked config and no errors, im not sure what im doing wrong

Home Assistant 0.114.3
arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.5
hassio | true
host_os | HassOS 3.12
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.107
python_vers

[2020-10-25 16:38] pvizeli commented on #252
You need update OS to 4.x

[2020-10-25 16:38] #252 closed

[2020-12-05 00:20] agners commented on #214
This issue tripped me a bit too, #267 make it print the status code if it is unexpected, which leads to `Unexpected server response. Status code: 403`. This points much more to an authentication issue like a wrong token...

[2020-12-05 17:55] #214 closed

[2020-12-22 00:57] wystans opened #268 "Feature Request: Interact with Hassio REST API"
Is there any interest in expanding the scope of this cli to interact with the [REST API](https://developers.home-assistant.io/docs/api/rest) as well as the Supervisor API?

This would allow the cli to get state information about devices/entities and call services.

[2020-12-22 12:52] frenck commented on #268
This CLI is for controlling the Home Assistant Supervisor, not Home Assistant Core.

If you are looking for a CLI towards the Home Assistant Core API's, there is a third-party one here: <https://github.com/home-assistant-ecosystem/home-assistant-cli>

[2020-12-22 12:52] #268 closed

[2021-01-22 20:09] alfonsolsl opened #270 "CLI auth reset fails, does not recognize the internal flag --username"
## The problem
The order: `ha auth reset --username "xxxx" --pasword "xxxxx"`

fails, does not recognize the flag --username but in the internal auth --help shows the exact flag as example.

## Environment

- Home Assistant Core release with the issue: 2021.1.5
- Last working Home Assistant Core release (if known): -
- Operating environment (OS/Container/Supervised/Core):  VEnv
- Integration causi

[2021-02-13 20:06] #237 closed

[2021-05-01 17:32] mathieu-mp opened #291 "ha snapshot new timeouts and returns code 1"
## Describe the problem

`ha snapshot new`:
- issues a timeout message after 30 seconds
- then terminates with return code 1 (error)
- at this time, snapshot creation has not ended yet

The issue happened for the first time on today 2.30am CEST. It has never happened before while the scripts runs daily for several months.

## Debug information

1. SSH Addon type

- [X] Community
- [ ] Core
- [ ] C

[2021-05-10 01:18] DavidFW1960 opened #292 "Error returned when using CLi to update Home Assistant"
## Describe the problem

A clear and concise description of what the bug is.
When I use ha core update --version 2021.x.x ha does update and everything works well however I get an error returned. This has only happened with the latest version of the community SSH & Web Terminal addon.
Issue reported here https://github.com/hassio-addons/addon-ssh/issues/259 but Frenck says it is upstream issue and

[2021-05-14 02:36] ikifar2012 commented on #291
I am having this issue in my addon as well

[2021-05-16 06:37] lukasleitsch commented on #291
I can also confirm this issue. My Backup-Script using a ssh connection and die CLI to create a new snapshot. The script fails due the timeout issue of the CLI command.

Could we provide more information to help debugging this issue?

[2021-05-18 18:15] nenadmilano commented on #292
Any news on this issue? It seems that I cant even restart Home Assistant from the GUI (fortunately just my DEV environment) and I am hesitant to update the PROD system because of this.

[2021-05-19 16:04] #292 closed

[2021-05-19 17:15] agners commented on #291
This is solved by #296.

[2021-05-19 17:15] #291 closed

[2021-05-24 17:54] xiki808 opened #297 "deConz addon CLI install triggers: context deadline exceeded"
## The problem
When installing the deConz addon from CLI: `addons install core_samba`, I get `Post "http://supervisor/addons/core_deconz/install": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`. The plugin eventually still installs, but this breaks automation scripts if there are other commands configuring this same addon. They will be executed before the addon is inst

[2021-05-25 08:19] frenck commented on #297
That is not an add-on issue, but a possible CLI issue.

In which add-on/CLI client where you using the CLI? And which version was it running?

[2021-05-25 12:11] sblantipodi opened #298 "Context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
**Hardware Environment**

Pi 4

**Home Assistant OS release:**
Update from HA OS core-2021.5.4 to core-2021.5.5

**Supervisor logs:**
no errors or warning

**Description of problem:**

When I log into SSH and run
`ha core stop; ha core start`

I get this error:
`Post "http://supervisor/core/start": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`

If I reboot the host wi

[2021-05-25 12:42] xiki808 commented on #297
I'm not sure if I'm going to answer correctly. I don't seem I can get the CLI version, but what I'm doing is spinning a VM from the latest image I can download. For this setup, I got it from there: https://github.com/home-assistant/operating-system/releases/download/5.13/hassos_ova-5.13.vmdk.xz

Then I can access the shell of the VM, and this is where the error message shows when I try to install

[2021-05-25 13:01] #297 closed

[2021-05-25 13:58] agners commented on #270
@alfonsolsl I can't reproduce this on my end:

[code]
Did you maybe use spaces? If so, then this is most likely related to #299

[2021-05-25 14:11] alfonsolsl commented on #270
Hello! I did it without any spaces in the username or password, but the error on the Cli is the same of the issue you pointed out.

[2021-05-25 15:28] agners commented on #270
I do get errors when using quotes in the current version:

[code]

However, with the changes introduced in https://github.com/home-assistant/plugin-cli/pull/54 this problem seems to be gone as well. So this should be solved with the next CLI/CLI plugin release.

[2021-05-25 15:28] #270 closed

[2021-08-02 08:48] TheBarzFR opened #307 "'dns': <[uint32 ]> error"
Hello,
I got error using the following command about DNS settings:

ha network set ens18 --ipv4-nameserver=10.128.xxx.xxx
Error: Error parsing parameter 1 of type “a{sa{sv}}”: expected value:
              'dns': <[uint32 ]>,
                              ^

There a space characters on variable définition.

[2021-08-06 18:52] kubilay902 commented on #307
Same here...
![image](https://user-images.githubusercontent.com/3920736/128558418-18521f33-7889-4a46-bf5e-e91c08c77be2.png)

[2021-08-10 09:35] ludeeus commented on #307
Add quotes around the adress

[2021-08-10 10:33] TheBarzFR commented on #307
Same with double or simple quotes:
root@uxiot01:/opt/hass.io/ssl# ha network set ens18 --ipv4-nameserver='10.128.x.x'
Error: Error parsing parameter 1 of type “a{sa{sv}}”: expected value:
              'dns': <[uint32 ]>,
                              ^
root@uxiot01:/opt/hass.io/ssl# ha network set ens18 --ipv4-nameserver="10.128.x.x"
Error: Error parsing parameter 1 of type “a{sa{sv}}”: expected

[2021-08-10 10:38] ludeeus commented on #307
try: `ha network update ens18 --ipv4-nameserver "10.128.x.x"`
If that does not work, what IP are you trying with? there are no reason in hiding local IP's
And paste information from system health https://www.home-assistant.io/more-info/system-health#github-issues

[2021-08-10 12:18] TheBarzFR commented on #307
I'm running under ubuntu 20. I knew is unsupported version; but ...

See attatched informations:
# ha network update ens18 --ipv4-nameserver "10.128.10.254"
Error: Error parsing parameter 1 of type “a{sa{sv}}”: expected value:
              'dns': <[uint32 ]>,

## System Health

version | core-2021.7.4
-- | --
installation_type | Home Assistant Supervised
dev | false
hassio | true
docker | true
vi

[2021-08-10 12:22] ludeeus commented on #307
That's what I thought since I'm not able to reproduce on a supported system.
If anyone is able to do that, please open a new issue for it :+1:

Closing this for now as there is no reproduction on a supported system.

[2021-08-10 12:22] #307 closed

[2021-09-23 11:41] loki-bel opened #311 "'dns': <[uint32 ]> error"
Hello,
I deployed HassOS 6.4 (VMWare image)  and faced to the same issue like #307 I got error using the following command about DNS settings:

network set enp11s0 --ipv4-nameserver=10.64.21.10
Error: Error parsing parameter 1 of type “a{sa{sv}}”: expected value:
'dns': <[uint32 ]>
                        ^
I tried to use double or simple quotes. Results were the same.
network set enp11s0 --ipv4-n

[2021-11-05 12:22] agners commented on #311
This problem was caused by the Supervisor itself, see also #3060.

With the latest versions this should no longer be an issue.

[2021-11-05 12:22] #311 closed

[2021-12-14 21:29] ravenshill opened #325 "Unable to provide a name for cli backup. backup always assigns it's own slug"
### The problem

ha backups new --name myname
Processing... Done.

slug: 84d816fb

### What version of Home Assistant Core has the issue?

core-2021.11.5

### What was the last working version of Home Assistant Core?

_No response_

### What type of installation are you running?

Home Assistant OS

### Integration causing the issue

_No response_

### Link to integration documentation on our websi

[2022-02-14 16:38] thomasmauerer opened #332 "Timeout issues"
I'm developing an addon called Samba Backup and use the CLI tool for creating the backups.
Some users are running into a timeout, since the backup takes more than 3 hours on their systems.

Would it be possible to make the timeout configurable instead of having a hardcoded value?

[2022-02-14 16:48] frenck commented on #332
I would not recommend on use the CLI for that? Why not directly interface with the API available? <https://developers.home-assistant.io/docs/api/supervisor/endpoints>

[2022-02-23 18:16] alexiri opened #333 "Can't disable network interface"
## Describe the problem

It's not possible to disable a network interface. There's a `ha network update --enabled`, but there's no equivalent `--disabled`.

## Debug information

1. SSH Addon type

- [ ] Community
- [X] Core
- [ ] Custom

2. Version of the CLI

CLI Version: 2021.12.0
Add-on:
Add-on version:

3. Version of Home Assistant Core & the Home Assistant Supervisor

Home Assistant Core: 20

[2022-02-27 22:20] bremme commented on #333
Damn, I just spend one hour pulling my hair out because of this as well :laughing: I'm using the exact same versions:

* CLI Version: 2021.12.0
* Home Assistant Core: 2022.2.9
* Home Assistant Supervisor: 2022.01.1

I tried everything I could think of, but no success. It guess it should be `ha network update wlan0 --enabled false` since the default is `true`.

[2022-04-25 16:23] #333 closed

[2022-05-09 15:42] mdegat01 opened #345 "Unclear how to add a docker registry"
## Describe the problem

[code]
Attempt to use the example provided here and you receive this:
[code]
It appears username/password is required but there's no example or instructions on how to provide that information here.

## Debug information

1. SSH Addon type

- [ ] Community
- [ ] Core
- [x] Custom
Just using host OS on a dev system.

2. Version of the CLI

CLI Version: 2022.05.dev0201
Add-on

[2022-05-26 22:48] FireEmerald opened #348 "Import command tells success even when no usb stick is connected"
## Describe the problem

When executing the `ha os import` command without any connected usb stick the only output is: `Command completed successfully.`
There must be a error shown to the user telling what wents wrong if import obviously was not possible / failed.

## Debug information

1. SSH Addon type

- [ ] Community
- [x] Core
- [ ] Custom

2. Version of the CLI

CLI Version: [v4.17.0](https:

[2022-06-22 09:22] ludeeus commented on #345
This is described on the `add` subcommand
[code]

[2022-06-22 09:22] #345 closed

[2022-06-22 09:25] ludeeus commented on #325
It looks like you are confusing 2 separate parts.
What you give it is the "name", that does not change the "slug".
All backups are automatically given a "slug", you can not change how that is generated.

The name you set are used by the "name" key when you list backups, and in the UI.

[2022-06-22 09:25] #325 closed

[2022-06-22 09:29] ludeeus commented on #332
As @frenck mentioned, you should use the API directly from inside your add-on.
If this is still a feature you would like to have added to the CLI, please raise a feature request for it on the forum 👍

[2022-06-22 09:29] #332 closed